<div class="col-md-6 col-md-offset-3">
<div class="deniso">

 
 
 <% if logged_in? %>
 
      <%= simple_form_for @product, :html => {:multipart => true} do |f| %>
    <%= f.file_field :product_img %>
    <div style="color: blue;">
    <%= f.select :category_id, @categories %>
    </div>
    <%= f.input :title, label: "Produkti:" %>
    <%= f.input :kodi, label: "Kodi" %>
    <%= f.input :qmimi, label: "Qmimi" %>
    <%= f.input :pershkrimi, label: "Pershkrimi" %>
    <%= f.submit "Editoni Produktin", class: "btn btn-primary" %>
    <% end %>
    <div class="btn9">
    <%= link_to "Kthehuni mbrapa", root_path,  class: "btn btn-secondary" %>
    </div>
    </div>
    
    <% end %>
    </div>
    </div>
    