<head> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.parent {
    white-space: nowrap;
    overflow-x: auto;
}

.children {
   display: inline-block;
   margin-left: 20px; 
}
/* @media screen and (max-width: 400px) {
.fotojashow {
        height: 300x;
        width: 338px;
        margin-left: 3%;
}
table {
  margin-right: 2%;
  width: 200px;
}

}

@media screen and (max-width: 700px) {
.fotojashow {
  height: 370px;
  width: 340px;
  margin-right: 2%;
}

}
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
  
}

table {
  border-collapse: collapse;
  width: 100%;

}

th, td {
  padding: 15px;
}
*/ 
</style>
</head>
<body>
<!-- 
<div class="parent">
<ul>
      <li style="display: inline"><img src="<%= @product.product_img %>", class="fotojashow"></li>
      <li style="display: inline"> <b>Emri i produktit:</b> <%= @product.title %></li>
  </ul>
</div>

<li style="display: inline-block; margin-left: 5%; margin-bottom: 9%;">   <table>
<tr>
  <th>Emri</th>
  <th>Kategoria</th>
  <th>Kodi</th>
  <th>Përshkrimi</th>
</tr>
<tr>
  <td><%= @product.title %></td>
  <td><%= @product.category.name %></td>
  <td><%= @product.kodi %></td>
  <td><%= @product.pershkrimi %> </td>
</tr>
</table>
</div>
 </div>

<div class="butons">
<% if logged_in? %>
<% if @product.user_id == current_user.id %>   
<%= link_to 'Ndryshoni Produktin', edit_product_path(@product), class: "btn btn-secondary", class: "btn-custom" %>
<%= link_to 'Fshijeni Produktin', product_path(@product), method: :delete, data: {confirm: "A jeni i sigurt?"}, class: "btn-custom2" %> 
<% end %>
<% end %>
</div>   
-->
<h1 style="text-align: center;"> Faqja për momentin është në përpunim. Ju lutem kthehuni pas për ti shikuar modelet e tjera. </h1>
</body>
